# Based on 
# http://stackoverflow.com/questions/2143956/gitignore-for-visual-studio-projects-and-solutions

# Ignore due to older versions of visual studio
*.pdb
*.pch
*.idb
*.asm
*.dep

# Local ntest files
*.book
float coefficients.zip
[Bb]uildLog.htm
*.exe

# CMake files
*.cmake
CMakeFiles/
Makefile
CMakeCache.txt

#OS junk files
[Tt]humbs.db
*.DS_Store

# XCode (Mac)
ntest.xcodeproj/

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
# Commenting this out b/c we need the coefficients which are,
# in some versions of ntest, stored in the Release directory.
# [Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings
/winbuild

# Mac build files
DerivedData/
ntest.xcodeproj/
